.blog-post {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 100px;
    p {
        @include paragraph();
    }
    h2 {
        @include heading2($tertiary);
        padding-top: 30px;
    }
    h3 {
        @include heading3;
        padding: 30px 0 30px 0;
    }
    h4 {
        @include heading4;
    }
    figure {
        margin: 0;
    }
    .date {
        @include paragraph(900, $tertiary);
    }
    .employment {
        @include paragraph(900, white);
    }

    section {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -300px;
        .image-overlap {
            margin-left: 15px;
            img {
                box-shadow: -15px 15px 0px 0px $tertiary;
            }
        }
        .border-container {
            border-left: 5px solid $tertiary;
            border-bottom: 5px solid $tertiary;
            article {
                max-width: 725px;
                padding-bottom: 100px;
                p {
                    padding-bottom: 30px;
                }
            }
        }
    }
}
aside {
    grid-column: 1 / 2;
    figure {
        position: relative;
        img {
            position: relative;
            z-index: 10;
        }
        .recent-posts-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 95%;
            background-color: $secondary;
            position: absolute;
            top: 15px;
            right: -20px;
            padding-top: 330px;
            padding-left: 35px;
            padding-right: 35px;
            p {
                padding-bottom: 30px;
            }
            ul {
                padding: 0;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                list-style-type: disc;
                color: white;
            }
            a {
                padding: 10px;
            }
        }
    }
}

.comments {
    max-width: 725px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 115px;
    .comment-one,
    .comment-two {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        .comment-text {
            width: 90%;
            margin-bottom: 50px;
        }
    }
}
